@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@font-face{
   font-family: myfont;
   src: url("font/THSarabunNew\ Bold.ttf") format("truetype");
} 
li{
    font-family: kanit;
    display: inline;
    font-weight: normal;
    
}
li a{
    padding-right: 20px;
}
a:link{
    text-decoration: none;
}
a.hover{
    text-decoration: underline;
}
h1{
    color: black;
    font-family: kanit;
    text-align: center;

}
.first{
    padding: 30px ;
    background-color: red;
    border-color: black;
    border-top-style: solid;
    border-bottom-style: double;
    border-left-style: dashed;
    border-right-style: dotted;
    margin: 15px;
}
.img-profile{
   border-radius: 100%;
}
